/*
  CSS for the new tweet container and its elements.
*/

div.form-wrapper {
  max-width: 700px;
  margin: 60px auto 0 auto;
}

textarea#tweet-text {    
  width: 100%;
  font-weight: 600;
  background-color: unset;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  margin-bottom: 10px;
  overflow: hidden;
  resize: none;
}

textarea#tweet-text:focus-visible {  
  outline: none;
}

form#form-new-tweet {
  text-align: left;
}

.tweet-text-info {
  display: flex;
  justify-content: space-between;
}

#tweet-send {
  background-color: var(--navbar-background);  
  font-family: var(--logo-font-family);
  color: var(--logo-color);
}

#tweet-send.disabled {
  background-color: var(--tweet-disabled-background-color);
}

output.counter {
  font-family: var(--counter-font-family);
}
output.counter.overflow {
  color: var(--tweet-disabled-counter-color);
}

section.new-tweet {
  display: none;
 }