/*
  CSS for the tweets container, and tweets.
*/

div.tweets {
  max-width: 60vw;
  margin: 0 auto 0 auto;
 }

 div.tweets article {
  text-align: left;
  padding: 20px;
  border: 3px solid var(--default-line-color);
  margin-bottom: 10px;
 }

 div.tweets header, div.tweets footer {
  display: flex;
  justify-content: space-between;
 }

 div.tweets article .avatar-info {
  min-width: 10vw;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
 }

 div.tweets article .avatar-info-username {
  display: flex;
  align-items: center;
 }

 div.tweets article:hover {
  -webkit-box-shadow: 5px 5px 10px 2px var(--tweet-hover-shadowbox-color);
  box-shadow: 5px 5px 10px 2px var(--tweet-hover-shadowbox-color);
 }

 div.tweets article .tweet-content {
  border-bottom: 4px solid var(--default-line-color);
  padding-bottom: 20px;
  margin: 30px auto 5px auto;
  overflow-wrap: break-word;
 }

 div.tweets .tweet-action-icon i:hover {
  color: var(--tweet-action-icon-color-hover);
  cursor: pointer;
 }